header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

header .left {
  padding-left: 24px;
}

header .left h1 {
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 80px;
}

#cart-trigger .glyphicon {
  font-size: 32px;
  position: relative;
  margin-right: 25px;
  color: #777;
}

#cart .cart-item {
  padding: 8px;
}

#cart .cart-item .cart-remove-item {
  padding: 8px;
  cursor: pointer;
}

.cart-container {
  width: 300px;
  position: absolute;
  top: 50px;
  right: 25px;
  background-color: #fff;
}

#cart-badge {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #000;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
}

#product-list .product-item {
  padding: 25px;
  border: 1px solid #ddd;
  margin: 12px;
  width: 300px;
  flex-direction: column;
}

#product-list .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#product-list .product-item-img {
  height: 270px;
  text-align: center;
}

#product-list .price {
  font-size: 24px;
  font-weight: bold;
}

#product-list .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#product-list .add-to-cart {
  width: 120px;
  height: 48px;
}
